@import "partials/nav";
@import "partials/anidacion";
@import "partials/classes";
@import "partials/medias";
@import "partials/footer";
@import "partials/error404";
@import "partials/fonts&vars";




body {
    background-color: $colorFondo;
    overflow-x: hidden;
}
html {
    overflow-x: hidden;
}
