.error404 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

div.error404 div.botones {
    margin-top: 30px;
    
}
div.error404 a{
    text-decoration: none;

}

